{% extends "comic/layout.html" %}
{% block title %}{{ comic_name }} - {{ current_chap }}{% endblock %}

{% block content %}
    <div class="reader-header" style="text-align: center; margin-bottom: 20px;">
        <a href="{{ url_for('comic.detail', name=comic_name) }}">⬅ Quay lại Trang Truyện</a>
        <h3>{{ current_chap }}</h3>
    </div>

    <div class="reader-container">
        {% for img in images %}
            <img src="{{ url_for('comic.get_page_image', name=comic_name, chap=current_chap, page=img) }}" loading="lazy">
        {% endfor %}
    </div>

    <div class="reader-nav">
        {% if prev_chap %}
            <a href="{{ url_for('comic.read', name=comic_name, chap=prev_chap) }}" class="btn">Chap Trước</a>
        {% endif %}
        {% if next_chap %}
            <a href="{{ url_for('comic.read', name=comic_name, chap=next_chap) }}" class="btn">Chap Sau</a>
        {% endif %}
    </div>
{% endblock %}